   
h1{
    color:cornsilk
}
*{
    background-color:darkslategrey;
}

 
.Me{
    background-color:black;
}

.Information{
    color:white;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.grid{
    display:flex;

    flex-wrap:wrap;
    justify-content: space-between;
}

.Links{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}